body {
    background-color: red;
    height: 100vh;
}
a{
    color:blue;
}
div{
    border: 2px solid black;
}
  div  {
display: flex;
    justify-content: center;
    align-items: center;
}